.outputLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
    width: 75%;
    height: 80vh;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.generalOutput {
    width: 100%;
    text-align: center;
}

#nameHeader {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;

    background-color: #f8f8f8;
}

.emailNnumber {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    gap: 10px;
}

.educationLayout {
    display: flex;
    background-color: #f8f8f8;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.educationEntries {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: -20px;
}

.educationSchoolDate {
    display: flex;
    justify-content: space-between;
}

.educationSchool, .educationDate {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
}

.educationSchool {
    text-decoration: underline;
}