:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.wrapper {
  display: flex;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.contentBody {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin-right: 2em;
  padding-right: 2em;
  gap: 1em;
  height: 80vh;
  overflow-y: auto;
}

.headerDiv {
  display: flex;
  align-self: center;
}

#siteTitle {
  font-size: 2em;
  font-weight: bold;
  color: #D3D3D3;
  text-shadow: 8px 3px 4px #0d47a1;
  padding: 10px;
}

#siteTitle:hover {
  color: lightblue;
  text-shadow: 8px 3px 4px #0d47a1;
}

